@media (min-width: 768px) {

    main {
        max-width: 700px;
        
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
    }

    .img-principal {
    
        border-radius: 10px 0 0 10px;        
    }

    .img-principal img {
        width: 125%;
    }

    article > p {
        font-size: 11px;
    }

    .txt {
        margin-right: 110px;
    }
 
}