@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --veryDarkGrayishBlue: #48556a;
    --desaturatedDarkBlue: #6d7f97;
    --grayishBlue: #9eafc2;
    --lightGrayishBlue: #ecf2f8;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--lightGrayishBlue);
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    max-width: 350px;
    max-height: 550px;
    margin: 0 auto;
}

section {
    background-color: white;
    margin: 32px 16px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img-principal {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    position: relative;
}

.img-principal img {
    width: 100%;
    display: block;
    margin-bottom: -45px;
}

article>h1 {
    color: var(--veryDarkGrayishBlue);
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
}

article>p {
    margin-bottom: 15px;
}

.gray {
    color: var(--grayishBlue);
}

article,
.share {
    padding: 0 30px;
}

.share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.share > img { /* aqui? */
    width: 35px;
    border-radius: 50%;
}

.txt {
    margin-right: 40px;
}

.michelle {
    color: var(--veryDarkGrayishBlue);
    font-weight: 700;
}

button.btn-share {
    background-color: var(--lightGrayishBlue);
    border-radius: 50px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button.btn-share img {
    width: 100%;
}

.share-group {
    display: flex;
    align-items: center;
}

.share.hidden {
    display: none;
}

.share > p {
    color: var(--grayishBlue);
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 6px;
}

.social-medias{
    display: flex;
    align-items: baseline; 
}

.social-medias > a > img {
    padding: 0 .4rem;
}

button.btn-share.color {
    /* background-color: var(--desaturatedDarkBlue); */
    margin-left: 60px;
}

@media (min-width: 768px) {

    main {
        max-width: 700px;
    }

    section {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1.2fr;
    }

    .img-principal {
        border-radius: 10px 0 0 10px;
    }

    article > p {
        font-size: 11px;
    }

    .txt {
        margin-right: 110px;
    }

    .share.hidden {
        display: none;
        position: absolute;
        top: 45%;
        left: 75%;
        background-color: var(--veryDarkGrayishBlue);
        border-radius: 10px;
        height: 11px;
        width: 170px;

        padding-top: 18px;
        padding-bottom: 18px;
    }

    .share.hidden p {
        color: var(--grayishBlue);
        font-size: 10px;
    }

    .btn-share.color {
        display: none;
    }

    .triangle {
        background-color: var(--veryDarkGrayishBlue);
        position: absolute;
        top: 75%;
        left: 48%;
        transform: rotateY(0deg) rotate(45deg);
        width: 20px;
        height: 20px;  
    }

}