@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --veryDarkGrayishBlue: #48556a;
    --desaturatedDarkBlue: #6d7f97;
    --grayishBlue: #9eafc2;
    --lightGrayishBlue: #ecf2f8;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--lightGrayishBlue);
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    max-width: 350px;
    max-height: 550px;

    margin: 0 auto;
}

section {
    background-color: white;
    margin: 32px 16px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img-principal {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    position: relative;
}

.img-principal img {
    width: 100%;
    display: block;
    margin-bottom: -45px;
}

article>h1 {
    color: var(--veryDarkGrayishBlue);
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
}

article>p {
    margin-bottom: 15px;
}

.gray {
    color: var(--grayishBlue);
}

article,
.share {
    padding: 0 30px;
}

.share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.share > img { /* aqui? */
    width: 35px;
    border-radius: 50%;
}

.txt {
    margin-right: 40px;
}

.michelle {
    color: var(--veryDarkGrayishBlue);
    font-weight: 700;
}

button.btn-share {
    background-color: var(--lightGrayishBlue);
    border-radius: 50px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button.btn-share img {
    width: 100%;
}

.share-group {
    display: flex;
    align-items: center;
}

.share > p {
    color: var(--grayishBlue);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 6px;
}

.social-medias {
    display: flex;
    align-items: center;    
    margin-right: 40px;
}

.social-medias > a {
    margin-left: .8rem;
}

.share.hidden {
    display: none;
}

button.btn-share.arrow {
    background-color: var(--desaturatedDarkBlue);
}